<div class="card mat-card" id="sixth-card">
    <div class="row">
      <div class="col">
        <div class="card-titles">
          <h2>Proyectos</h2>
        </div>
      </div>
      <div class="col">
        <div class="btn-edit float-end" onclick="cambiar_parrafo()">
          <i class="fa fa-pen"></i>
        </div><br>
        <div class="btn-del float-end"><i class="fas fa-times"></i></div>
      </div>
    </div>
  
    <div>
      <div>
        <div>
          <img id=logo-arg-programa-2 class="img-fluid" src="assets/images/logo-arg-prog.jpg" alt="ARG PROG">
        </div>
        <div style="float:left">
          <h4>Portfolio Web Argentina Programa</h4>
          <h5>2022</h5>
          <p>Desarrollo de Portfolio Web Personal en el marco del Programa #YoProgramo</p>
          <a href="https://agforca.github.io/proyecto/">Link al Porfolio Web</a>
        </div>
      </div>
    </div>
  
    <div>
      <div>
        <div>
          <img id=logo-rg class="img-fluid" src="assets/images/logo-rg.png" alt="RG">
        </div>
        <div style="float:left">
          <h4>Desarrollo de Resinas Termoestables Biobasadas</h4>
          <h5>2017-2022</h5>
          <p>Síntesis y Caracterización de nuevas resinas termoestables biobasadas</p>
          <a href="https://www.researchgate.net/profile/Agustin-Forchetti-Casarino-2">Link a ResearchGate</a>
        </div>
      </div>
    </div>
  
  </div>
