<div class="card mat-card" id="second-card">
    <div class="row">
      <div class="col">
        <div class="card-titles">
          <h2>Acerca de</h2>
        </div>
        <div>
          <p id="text-acercade">Ingeniero Químico. Doctor en Ingeniería Química pronto.</p>
        </div>
        <div>
          <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
        </div>
      </div>
      <div class="col">
        <div class="btn-edit float-end" onclick="cambiar_parrafo()">
          <i class="fa fa-pen"></i>
        </div><br>
        <div class="btn-del float-end"><i class="fas fa-times"></i></div>
      </div>
    </div>
  </div>