<div class="card mat-card" id="second-card">
    <div class="row">
      <div class="col">
        <div class="card-titles">
          <h2>Acerca de</h2>
        </div>
        <div>{{ textoAcercaDe }}</div>
        <input type="text"
               placeholder="Ingrese descripción aquí" 
               (ngModel)="textoAcercaDe"
               [ngStyle]="{ display: mostrarInput }"
        />
      </div>
      <div class="col">
        <div class="btn-edit float-end fa fa-pen" (click)="onClick()"></div><br>
        <div class="btn-del float-end fa fa-times"></div>
      </div>
    </div>
  </div>  