<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src="assets/images/banner.jpg" class="img-fluid" alt="Banner"></div>
    <div id="info" style="padding: 16px">
      <div class="row">
        <div class="col">
          <div>
            <img class="profile-image" src="assets/images/perfil.jpeg" alt="Perfil">
          </div>
        </div>
        <div class="col">
          <div class="btn-edit float-end"><i class="fas fa-pen"></i></div><br>
          <div class="btn-del float-end"><i class="fas fa-times"></i></div>
        </div>
      </div>
  
  
      <div class="container-fluid">
  
        <div style="float:left">
          <h1>Agustin Forchetti</h1>
          <div id="info-profession">
            <h4>Ingeniero Químico</h4>
          </div>
          <div id="info-contact">
            <h5>Santa Fe</h5>
            <h6>Argentina</h6><br>
            <span><a href="https://ar.linkedin.com/in/agustinforchetti">Información de contacto</a></span>
          </div>
        </div>
  
        <div>
          <ul>
            <li><a href="https://www.conicet.gov.ar/new_scp/detalle.php?id=52556&datos_academicos=yes">
                <img id="logo-conicet" class="img-fluid" src="assets/images/logoConicet.jpg" alt="Conicet">
                <h6>CONICET</h6>
              </a>
            </li>
            <li><a href="https://www.unl.edu.ar/">
                <img id="logo-unl" class="img-fluid" src="assets/images/logoUnl.jpg" alt="UNL">
                <h6>Universidad Nacional del Litoral</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div>
        <button type="button" class="btn btn-dark">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir sección</button>
        <button type="button" class="btn btn-light">Más</button>
      </div>
  
    </div>
  </div>
