<div class="card mat-card" id="third-card">
    <div class="row">
      <div class="col">
        <div class="card-titles">
          <h2>Experiencia</h2>
        </div>
      </div>
      <div class="col">
        <div class="btn-edit float-end" onclick="cambiar_parrafo()">
          <i class="fa fa-pen"></i>
        </div><br>
        <div class="btn-del float-end"><i class="fas fa-times"></i></div>
      </div>
    </div>
  
    <div>
      <div>
        <div>
          <img id=logo-intec class="img-fluid" src="assets/images/logo-intec.png" alt="UNL">
        </div>
        <div>
          <h4><b>INTEC (UNL-CONICET)</b></h4>
          <h5>Becario Doctoral</h5>
          <h6><em>2017-2022</em></h6>
        </div>
      </div>
    </div>
  
    <br><br>
  
    <div class="row">
      <div class="col">
        <div class="card-titles">
          <h2>Educación</h2>
        </div>
      </div>
      <div class="col">
        <div class="btn-edit float-end" onclick="cambiar_parrafo()">
          <i class="fa fa-pen"></i>
        </div><br>
        <div class="btn-del float-end"><i class="fas fa-times"></i></div>
      </div>
    </div>
  
    <div>
      <div>
        <img id=logo-unl-2 class="img-fluid" src="assets/images/logoUnl.jpg" alt="UNL">
      </div>
      <div>
        <h4><b>UNL</b></h4>
        <h5>Doctor en Ingeniería Química</h5>
        <h6><em>2017-2022</em></h6>
      </div>
    </div>
  
    <div>
      <div>
        <img id=logo-unl-2 class="img-fluid" src="assets/images/logoUnl.jpg" alt="UNL">
      </div>
      <div>
        <h4><b>UNL</b></h4>
        <h5>Ingeniero Químico</h5>
        <h6><em>2011-2017</em></h6>
      </div>
    </div>
  </div>
