<div class="card mat-card" id="fourth-card">
    <div class="row">
      <div class="col">
        <div class="card-titles">
          <h2>Hard and Soft Skills</h2>
        </div>
      </div>
      <div class="col">
        <div class="btn-edit float-end" onclick="cambiar_parrafo()">
          <i class="fa fa-pen"></i>
        </div><br>
        <div class="btn-del float-end"><i class="fas fa-times"></i></div>
      </div>
    </div>
  
    <div>
  
      <div class="container">
        <h5>Office 365</h5>
        <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
      </div><br><br>
  
  
      <div class="container">
        <h5>Science Databases</h5>
        <div class="progress">
          <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
      </div><br><br>
  
  
      <div class="container">
        <h5>Origin Software</h5>
        <div class="progress">
          <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
        </div>
      </div><br><br>
  
      <div class="container">
        <h5>Team Managment</h5>
        <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
      </div><br><br>
  
      <div class="container">
        <h5>Research and Development</h5>
        <div class="progress">
          <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
      </div>
    </div>
  </div>
